<html>
<head>
    <title>Tweet Screen</title>
    <link rel="stylesheet" href="static/css/master.css" type="text/css" media="screen" charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/json2.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $('document').ready(function(){
             $('input[type=submit]').click(function(){
                $.post('/',{content: $('textarea').val(), _xsrf: $('input[name=_xsrf]').val()},function(data){
                    var status = JSON.parse(data)
                    if(status.status == 'success'){
                        var now = new Date();
                        var clone_tweet = $('#tweet').clone();
                        clone_tweet.removeAttr('id');
                        clone_tweet.attr('class','mock_tweet');
                        clone_tweet.find('p').html($('textarea').val());
                        clone_tweet.find('span').html(now);
                        clone_tweet.prependTo($('#tweetpage'));
                        $('textarea').val('');
                    }
                    else {alert('hi');}
                });
             return false;
             });
             $('textarea').keyup(function(){
                 var text_length = $('textarea').val().length;
                 var max_length = 140;
                 if (text_length > max_length){
                     var tweet = $('textarea').val().substring(0, max_length);
                     $('textarea').val(tweet);
                    }
                 return false;
             });
        }); 
    </script>
</head>
<body>
    <a href="/logout">Logout</a>
    <form action="" method="POST">
        <textarea name="content" rows="8" cols="40"></textarea>
        <input type="submit" value="tweet">
        {{ xsrf_form_html() }}
    </form>
    <div id="tweetpage">
        <div id="tweet">
            <p></p>
            <span></span>
        </div>
    </div>
    <div id="following_list">
    <h4>following<h4>
    {% for following_user in following_users %}
        <img src={{following_user['user_mininail']}}>
    {% end %}
    </div>
    <div id="tweet_list">
    {% for tweet in tweets %}
        <img src={{tweet['user_thumbnail']}}>
        <p>{{tweet['content']}}</p>
        <span>{{tweet['pub_date'].strftime("%a, %d %b %Y %H:%M %p")}}</span>
        <span>{{tweet['username']}}</span>
    {% end %}
    </div>
</body>
</html>