<html>
<head>
    <title>User Tweets</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    var username = '{{username}}';
    $('document').ready(function(){
        {% if current_user %}
            $('.follow').live('click', function(){
                var button = $(this);
                $.post("/follow",{dest_name: username}, function(data){
                    var status = $.parseJSON(data);
                    if (status.status=='success') {
                        $('#message p').html(status.message);
                        button.html('unfollow');
                        button.toggleClass('follow');
                        button.toggleClass('unfollow');
                    }
                });
                return false;
            });
            $('.unfollow').live('click', function(){
                var button = $(this);
                $.post('/unfollow',{dest_name: username}, function(data){
                   var status = $.parseJSON(data);
                   if (status.status=='success') {
                       $('#message p').html(status.message);
                       button.html('follow');
                       button.toggleClass('unfollow');
                       button.toggleClass('follow');
                   } 
                });
            return false;    
            });
        {% else %}
            $('.login').live('click', function(){
               window.location = "http://localhost:8888/login";
               return false;
            });
        {% end %}
    });
    </script>
</head>
<body>
    {% if follow_flag %}
        <a href="/unfollow" class="unfollow">Un-Follow</a>
    {% else %}
        <a href="/follow" class="{% if current_user %}follow{% else %}login{% end %}">Follow</a>
    {% end %}
    {% if current_user %}
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% end %}
    <div id="message">
        <strong><p></p></strong>
    </div>
    {% if tweets %}
    <img src="{{tweets[0]['user_thumbnail']}}">
    {% end %}
    <strong>{{username}}</strong>
    {% for tweet in tweets %}
        <p>{{tweet['content']}}</p>
    {% end %}
</body>
</html>